<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<title>测一下你有多穷</title>
<style>
.class1{
    color: greenyellow;
}
#app1{
    text-align: center;
}
</style>
</head>
<body>
<div id="app1">
    <p>食物支出金额</p>
    <input v-model="sw"><span>单位：元</span>
    <p>总支出</p>
    <input v-model="zc"><span>单位：元</span><br>
    <button @click='run' style="margin:10px;">计算恩格尔系数</button>
    <p class="class1">恩格尔系数为：{{ bmi }}%</p>
    <img src="http://p0.so.qhimgs1.com/sdr/400__/t01d232769e2674fd8c.jpg">
</div>
<script>
new Vue({
    el:'#app1',
    data:{
        sw:'',
        zc:'',
        bmi:'0',
    },
    methods:{
        run:function(){
            let b;
            b=parseFloat(this.sw)/parseFloat(this.zc)*100;
            this.bmi=b.toFixed(2);
            }
        }
    }
)
</script>
</body>
</html>